<% layout('/layouts/two_columns') -%>
<div class="row listing-items">
	<div class="col-md-12">
		<div class="well box-shadow">
			<h1>Articles : </h1>
				<ul class="items-list">
					<% items.forEach(function(item) {%>
					<li>
						<a href="<%= LinkGenerator.GenerateItemUrl(categorySlug, item.slug)%>" title="<%= item.label %>" target="_blank">
							<div class="col-md-4 thumbnail">
								<img src="<%=item.thumbnail%>" alt="<%=item.label%>" />
							</div>
							<div class="col-md-8">
								<span class="item-title"><%= item.label %></span>
								<div class="product-rating sm">
									<input data-rating-display type="number" class="kv-fa rating-loading" data-rtl="false" value="<%= item.rate %>">
									<span class="avg">(<%= item.rate %> / 5)</span>
								</div>
							</div>
						</a>
					</li>
					<% }) %>
				</ul>
			<%- partial('partials/front/items_pagination', {pages: items_pages, current_page: item_current_page}) %>
		</div>
	</div>
</div>